.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.submit {
  height: 40px;
  width: 100px;
  margin-top: 15px;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.submit:hover {
  background-color: #4a3;
  color: #fff;
}
