.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
}
.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  flex-grow: 1;
  font-size: 2.5rem;
  &__next-hour {
    height: 20px;
    transform: rotate(90deg);
    cursor: pointer;
  }
  &__hour-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 30px;
    overflow: hidden;
    &__hour-displayer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-height: 30px;
      &__hour {
        line-height: 30px;
      }
    }
  }

  &__previous-hour {
    height: 20px;
    transform: rotate(90deg);
    cursor: pointer;
  }
}
.colon {
  font-size: 3rem;
}
.minutes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  flex-grow: 1;
  font-size: 2.5rem;
  &__next-minute {
    height: 20px;
    transform: rotate(90deg);
    cursor: pointer;
  }
  &__minute-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 30px;
    overflow: hidden;
    &__minute-displayer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-height: 30px;

      &__minute {
        line-height: 30px;
      }
    }
  }
  &__previous-minute {
    height: 20px;
    transform: rotate(90deg);
    cursor: pointer;
  }
}
