<div class="wrapper">
  <div class="hours">
    <div class="hours__next-hour" (click)="changeValue('next', 'hour')"><</div>
    <div class="hours__hour-wrapper">
      <div class="hours__hour-wrapper__hour-displayer">
        <div class="hours__hour-wrapper__hour-displayer__hour">{{ hour }}</div>
      </div>
    </div>
    <div class="hours__previous-hour" (click)="changeValue('previous', 'hour')">
      >
    </div>
  </div>
  <div class="colon">:</div>
  <div class="minutes">
    <div class="minutes__next-minute" (click)="changeValue('next', 'minute')">
      <
    </div>
    <div class="minutes__minute-wrapper">
      <div class="minutes__minute-wrapper__minute-displayer">
        <div class="minutes__minute-wrapper__minute-displayer__minute">
          {{ minute }}
        </div>
      </div>
    </div>

    <div
      class="minutes__previous-minute"
      (click)="changeValue('previous', 'minute')"
    >
      >
    </div>
  </div>
</div>
