.tab {
  flex-basis: 21%;
  margin: 2px 2px 0px 2px;
  border: 1px solid black;
  border-bottom: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
  background-color: #eee;
  font-style: italic;
}
.active {
  flex-grow: 1;
  margin: 0;
  height: 36px;
  z-index: 1;
  background-color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
